---
---

@import "variables";
@import "bootstrap/scss/bootstrap";

.bg-cover {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}
.bg-trans {
    background-color: rgba(#ffffff, 0.85)
}
.hr-theme {
    border-color: $secondary;
    border-width: 2px;
}

@include media-breakpoint-down(sm) {
    body {
        font-size: $font-size-base *.875;;
    }
}