<html>
	<head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <link rel="stylesheet" href="{{'/assets/main.css' | prepend: site.baseurl}}">
        <title>{{ page.title }}</title>
        <meta property="og:image" content="{{'/assets/image/fb_cover.jpg' | prepend: site.baseurl}}">
	</head>
	<body>
		{{ content }}
		<script src="{{'/assets/vendor/jquery.min.js' | prepend: site.baseurl}}"></script>
		<script src="{{'/assets/vendor/popper.min.js' | prepend: site.baseurl}}"></script>
		<script src="{{'/assets/vendor/bootstrap.min.js' | prepend: site.baseurl}}"></script>
	</body>
</html>
